*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 4, 4);
    color: white;
    padding: 0px 10px;
  }
  #menus{
    display: flex;
    align-items: center;
    /* background-color: yellow; */
  }
  /* descendent selector */
  #menus p{
    color: white;
    padding: 0px 10px;
  }
  #logo{
    display: flex;
    align-items: center;
  }
  /* to remove underline from Link component */
  a{
    text-decoration: none;
  }
  a:hover{
    transform: scale(1.2,1.2) rotate(360deg);
    transition: 600ms;
  }